* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
}
.container {
  margin: 5%;
}
#questionMark {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 70%;
}

.questionContainer {
  position: relative;
  text-align: center;
  justify-content: center;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  padding-top: 5%;
}
.btns {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15px;
  margin-top: 5%;
  margin-left: 15px;
  margin-right: 15px;
}

a {
  position: relative;
  padding: 20px 40px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
  border: 5px solid white;
  transition: 1s;
  border-radius: 5px;
  justify-content: center;
  font-weight: bold;
}

a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f25218;
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f25218;
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

a:hover:before {
  transform: rotateX(0);
}

a:hover:after {
  transform: rotateY(0);
}

#leave:hover {
  color: wheat;
}
#continue:hover {
  color: wheat;
}
#question:hover {
  color: rgb(250, 250, 139);
}
