* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: url("https://cdn.pixabay.com/photo/2020/09/23/21/17/egyptian-5597112_640.png");
  background-blend-mode: darken;
  background-repeat: repeat-x;
  background-color: rgb(253, 253, 224);
}
.container {
  margin: 1%;
}
.innerContainer {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.innerContainers {
  display: flex;
  justify-content: space-around;
}
.innerContainer img {
  width: 100%;
  transition: all 0.5s;
}

.caption {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
  background-color: black;
  transform: translateY(-100%);
}

.caption h1 {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.caption a {
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 5px;
}
.caption a:hover {
  color: rgb(225, 222, 39);
}
.innerContainer:hover .caption {
  transform: translateY(0);
}

.innerContainer:hover img {
  transform: translateY(100%);
}
